In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
from api_keys import g_key

In [28]:
cities_data = "cities.csv"
cities_df = pd.read_csv(cities_data)
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bridgton,90,US,1578203306,86,44.05,-70.71,34.00,8.05
1,Qaanaaq,0,GL,1578203308,51,77.48,-69.36,-39.08,5.97
2,Ishigaki,40,JP,1578203309,69,24.34,124.16,77.00,9.17
3,Kapaa,90,US,1578203077,88,22.08,-159.32,75.20,20.80
4,Itoman,75,JP,1578203312,56,26.12,127.67,69.80,8.05
...,...,...,...,...,...,...,...,...,...
528,Talnakh,90,RU,1578203922,84,69.49,88.39,8.60,35.79
529,Kochubey,100,RU,1578203923,86,44.39,46.54,41.14,12.93
530,Cururupu,100,BR,1578203925,98,-1.82,-44.87,73.00,1.68
531,Yatou,40,CM,1578203926,94,3.63,9.81,77.00,1.12
532,Villa Sandino,0,NI,1578203927,92,12.05,-84.99,68.34,9.75

In [29]:
gmaps.configure(api_key=g_key)

In [19]:
# locations = cities_df[["Lat", "Lng"]].astype(float)


# cities_complete = cities_df.dropna()
# humidity_rate = cities_df["Humidity"].astype(float)

In [41]:
locations = cities_df[['Lat', 'Lng']]
weights = cities_df['Humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, dissipating=False))
fig

Figure(layout=FigureLayout(height='420px'))